In [1]:
#Assignment 3
#Student of Datatrained -yash jaiswal

In [4]:
#String finctions in python
String functions

name = "Tesla"

name.lower()

name.upper()

len(name)

name.capitalize()

name.isalpha()

starship = "Enterprise"

starship.startswith("en")

starship.endswith("rise")

# replace

#str.replace(old, new)

string = "Welcome Sir "

# original string

print(string)

# with two Parameters

print(string.replace("Welcome","GoodBye"))

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

phrase = "the surprise is in here somewhere"

phrase.find("surprise")

text = "Hello World DataTrained"

# splits at space

print(text.split())

text = "Hello,World, DataTrained"

# splits at ','

print(text.split(", "))

text = "Hello,World:, DataTrained"

# Splits at ':'

print(text.split(":"))





Task:

1

Write a program that converts the following strings to lowercase:

"Animals", "Badger", "Honey Bee", "Honey Badger". Print each lowercase string on a separate line.

SyntaxError: invalid syntax (521836826.py, line 2)

In [5]:
name="yash"

In [6]:
name.lower()

'yash'

In [7]:
name

'yash'

In [8]:
name.upper()

'YASH'

In [9]:
len(name)

4

In [10]:
name.capitalize()

'Yash'

In [11]:
name.isalpha()

True

In [12]:
starship = "Enterprise"

In [13]:
starship

'Enterprise'

In [14]:
starship.startswith("en")

False

In [15]:
starship.endswith("rise")

True

In [16]:
starship.replace("Enterprise","enterpreneur")

'enterpreneur'

In [17]:
string = "Welcome Sir "

In [18]:
print(string)

Welcome Sir

In [19]:
print(string.replace("Welcome","GoodBye"))

GoodBye Sir

In [20]:
txt = "I like bananas"

In [21]:
txt

'I like bananas'

In [23]:
x = txt.replace("bananas", "apples")

In [24]:
x

'I like apples'

In [25]:

print(x)

I like apples

In [26]:
phrase = "the surprise is in here somewhere"

In [28]:
phrase

'the surprise is in here somewhere'

In [29]:
phrase.find("surprise")

4

In [30]:
phrase.find("here")

19

In [31]:
text = "Hello World DataTrained"

In [32]:
text

'Hello World DataTrained'

In [33]:
print(text.split())

['Hello', 'World', 'DataTrained']

In [34]:

text = "Hello,World, DataTrained"

In [35]:
text

'Hello,World, DataTrained'

In [36]:
print(text.split(", "))

['Hello,World', 'DataTrained']

In [37]:
text = "Hello,World:, DataTrained"

In [38]:
text

'Hello,World:, DataTrained'

In [39]:
print(text.split(":"))

['Hello,World', ', DataTrained']

In [41]:
#Task:

#1

#Write a program that converts the following strings to lowercase:

#"Animals", "Badger", "Honey Bee", "Honey Badger". Print each lowercase string on a separate line.

In [42]:
str1=["Animals", "Badger", "Honey Bee", "Honey Badger"]

In [43]:
str1

['Animals', 'Badger', 'Honey Bee', 'Honey Badger']

In [46]:
str2="Animals"

In [48]:
print(str2.lower())

animals

In [49]:
str3="Honey Bee"
print(str3.lower())

honey bee

In [50]:
str4="Honey Badger"
print(str4.lower())

honey badger

In [51]:
#2

#Write a program that prints out the result of .startswith("be") on

#each of the following strings:

#string1 = "Becomes"

#string2 = "becomes"

#string3 = "BEAR"

#string4 = " bEautiful"

In [52]:
string1 = "Becomes"

In [53]:
string1.startswith("be")

False

In [54]:
string2 = "becomes"

In [55]:
string2.startswith("be")

True

In [56]:
string3 = "BEAR"

In [57]:
string3.startswith("be")

False

In [58]:
string4 = " bEautiful"

In [59]:
string4.startswith("be")

False

In [60]:
#3

#Using the same four strings from above, write a program that

#uses string methods to alter each string so that .startswith("be")

#returns True for all of them

In [61]:
string1 = "Becomes"
y=string1.casefold()
print(y.startswith("be"))

True

In [62]:
y

'becomes'

In [63]:
string3 = "BEAR"
y=string3.casefold()
print(y.startswith("be"))

True

In [64]:
y

'bear'

False

In [67]:
#4 Write a program that takes input from the user and displays that

#input back.

In [68]:
y=input("enter a string")

enter a string my name is yash

In [69]:
#5

#Write a program that takes input from the user and displays the

#input in lowercase.