In [1]:
#assignment4
#name=yash jaiswal

In [9]:
#Loops /if


#Loops /if

#x=0

#define a while loop

#while(x <4):

#print(x)

# x = x+1

#Task:

#Print First 10 natural numbers using while loop

# program 1: Print first 10 natural numbers

#i = 1

#while i <= 10:

    #rint(i)

    #=i+1

In [8]:
x=0
while x <=10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for x in range(2,7):

  print(x)

2
3
4
5
6

In [11]:
Months = ["Jan","Feb","Mar","April","May","June"]

for m in Months:

  print(m)

Jan
Feb
Mar
April
May
June

In [13]:
 # Measure some strings:

 #words = ['cat', 'window', 'defenestrate']

#for w in words:

 #print(w)

#for w in words:

# print(w, len(w))

In [17]:
 words = ['cat', 'window', 'defenestrate']

for w in words:

    print(w)

cat
window
defenestrate

In [18]:
for w in words:

    print(w, len(w))

cat 3
window 6
defenestrate 12

In [19]:
range(5, 10)

range(5, 10)

In [20]:
range(0, 10, 3)

range(0, 10, 3)

In [22]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

for i in range(len(a)):

 print(i)

0
1
2
3
4

In [30]:
x=8

y=4

if(x < y):

    st= "x is less than y"

else:

    st= "x is greater than y"

    print (st)

x is greater than y

In [32]:
x=int(input("Enter an integer  "))
if x<=0:
    print("Negative changer to zero ")
elif x==0:
    print("z in equal to 0 ")
elif x==1:
    print(" x is eqaul to q ")
else:
    print("More than one and zero ")

Enter an integer  42
More than one and zero

In [33]:
#Task :write a program using if-elif with different country value and total values.
#total = 100
#country = "US"
#country = "AU"
#if country == "US":
#if total <= 50:
#print("Shipping Cost is $50")
#elif total <= 100:
#print("Shipping Cost is $25")
#elif total <= 150:
#print("Shipping Costs $5")
#else:
#print("FREE")
#if country == "AU":
#if total <= 50:
#print("Shipping Cost is $100")
#else:
#print("FREE")

In [34]:
total = 100
country = "AU"

if country == "US":

    if total <= 50:

        print("Shipping Cost is $50")

elif total <= 100:

        print("Shipping Cost is $25")

elif total <= 150:

     print("Shipping Costs $5")

else:

        print("FREE")

if country == "AU":

   if total <= 50:

     print("Shipping Cost is $100")

else:

     print("FREE")

Shipping Cost is $25

In [35]:
#Task : write a program to find even or odd using for loop /range function.

#Soln.

#for num in range(2, 10):

#... if num % 2 == 0:

#... print("Found an even number", num)

#... continue

#... print("Found a number", num)

In [41]:
for num in range(2,10):
    if num%2==0:
        print("Its a even number",num)
    else:
        continue
        print("Found a number",num)

Its a even number 2
Its a even number 4
Its a even number 6
Its a even number 8

In [43]:
#Task :write two different loops for break if x is even number and continue when the number is divide by 5.
#Soln.
# use the break and continue statements
#for x in range (10,20):

   #if (x == 15): break

   #if (x % 2 == 0) : continueTask :write two different loops for break if x is even number and continue when the number is divide by 5

   #print(x)

# use the break and continue statements

#for x in range (10,20):

   #if (x == 15): break

   #if (x % 5 == 0) : continue

   #print(x)

In [44]:
# use the break and continue statements

for x in range (10,20):

   if (x == 15): break

   #if (x % 2 == 0) : continue

   print(x)

# use the break and continue statements

for x in range (10,20):

   #if (x == 15): break

   if (x % 5 == 0) : continue

   print(x)

10
11
12
13
14
11
12
13
14
16
17
18
19

In [45]:
#Task:
#Display numbers divisible by 5 from a list.Iterate the given list of numbers and print only those numbers which are divisible by 5.
#Solution:
#num_list = [10, 20, 33, 46, 55]
#print("Given list:", num_list)
#print('Divisible by 5:')
#for num in num_list:
#if num % 5 == 0:
# print(num)

In [46]:
num_list = [10, 20, 33, 46, 55]

print("Given list:", num_list)

print('Divisible by 5:')

for num in num_list:

    if num % 5 == 0:

        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [47]:
#Task:
#Calculate the sum of all numbers from 1 to a given number
#Solution:
# s: store sum of all numbers
#s = 0
#n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
#for i in range(1, n + 1, 1):
   # add current number to sum variable
#s =s+i
#print("\n")
#print("Sum is: ", s)

In [49]:
s = 0

n = int(input("Enter number "))

# run loop n times

# stop: n+1 (because range never include stop number in result)

for i in range(1, n + 1, 1):

    # add current number to sum variable

    s =s+i

print("\n")

print("Sum is: ", s)

Enter number 5


Sum is:  15

In [50]:
#Task:
#Write a program to print multiplication table of a given number
#Solution:
#n = 2
# stop: 11 (because range never include stop number in result)
# run loop 10 times
#for i in range(1, 11, 1):
 # 2 *i (current number)
#product = n * i
#print(product)

In [51]:
n = 2

# stop: 11 (because range never include stop number in result)

# run loop 10 times

for i in range(1, 11, 1):

    # 2 *i (current number)

    product = n * i

    print(product)

2
4
6
8
10
12
14
16
18
20

In [54]:
n = 3



for i in range(1, 11, 1):

    # 2 *i (current number)

    product = n * i

    print(product)

3
6
9
12
15
18
21
24
27
30

In [55]:
#Practice below codes for list comprehension
#vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
#[x*2 for x in vec]
# filter the list to exclude negative numbers
#[x for x in vec if x >= 0]

In [57]:
vec = [-4, -2, 0, 2, 4]

 # create a new list with the values doubled
[x*2 for x in vec]

# filter the list to exclude negative numbers

[x for x in vec if x >= 0]

[0, 2, 4]

In [58]:
# apply a function to all the elements

[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [59]:
 # call a method on each element

freshfruit = [' banana', ' loganberry ', 'passion fruit ']

[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [61]:
# create a list of 2-tuples like (number, square)

[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [64]:
#To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for f in sorted(set(basket)):

    print(f)

apple
banana
orange
pear

In [68]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [ ]:
for i in reversed(range(1,20,2))